@import url("https://fonts.googleapis.com/css2?family=Alice&family: 100,200,300,400,500,600,700,800|Roboto: 100,200,300,400,500,600,700,800");

body {
  font-family: "Alice" 800, sans-serif;
  background: -webkit-linear-gradient(45deg, skyblue, white, lavender);
  background: -o-linear-gradient(45deg, skyblue, white, lavender);
  background: -moz-linear-gradient(45deg, skyblue, white, lavender);
  background: linear-gradient(45deg, skyblue, white, lavender);
  background: no-repeat;

  opacity: 85%;
  height: 100%;
  width: auto;
  position:cover;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/***************Header Section************/

.navbar {
  background: -webkit-linear-gradient(45deg, skyblue, white, lavender);
  background: -o-linear-gradient(45deg, skyblue, white, lavender);
  background: -moz-linear-gradient(45deg, skyblue, white, lavender);
  background: linear-gradient(45deg, skyblue, white, lavender);
  background-repeat: repeat;
  opacity: 85%;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.navbarDropdownMenuLink {
  background: -webkit-linear-gradient(45deg, skyblue, white, lavender);
  background: -o-linear-gradient(45deg, skyblue, white, lavender);
  background: -moz-linear-gradient(45deg, skyblue, white, lavender);
  background: linear-gradient(45deg, skyblue, white, lavender);
  background-repeat: no-repeat;
  opacity: 85%;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.dropdown-menu.show {
  background: -webkit-linear-gradient(
    45deg,
    skyblue,
    white,
    lavender
  ) ;
  background: -o-linear-gradient(45deg, skyblue, white, lavender) ;
  background: -moz-linear-gradient(45deg, skyblue, white, lavender) ;
  background: linear-gradient(45deg, skyblue, white, lavender) ;
  background-repeat: no-repeat;
  opacity: 85%;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.navlink {
  background: -webkit-linear-gradient(45deg, skyblue, white, lavender);
  background: -o-linear-gradient(45deg, skyblue, white, lavender);
  background: -moz-linear-gradient(45deg, skyblue, white, lavender);
  background: linear-gradient(45deg, skyblue, white, lavender);
  background-repeat: no-repeat;
  opacity: 85%;
  width: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/***************Main Section************/

.logo {
  height: 100px;
  width: 100px;
}
