@import url("https://fonts.googleapis.com/css2?family=Alice&family: 100,200,300,400,500,600,700,800|Roboto: 100,200,300,400,500,600,700,800");

/***************Background Image Section************/
 
body {
font-family: "Roboto" , sans-serif;
background-color: skyblue;
}

/***************Overlay Section************/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image:  url(/assets/images/overlay-lo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  
  overflow-x: hidden;
  transition: 0.7s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-shadow:  2px 2px #ff0000;
  font-size: 50px;
  color: #fafafa;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: olive;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
